body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod-details{
  display: flex;
}
.prod-img img{
  height: 400px;
  width: 400px;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.text-area{
  height:200px;
}